.filter-rating {
	width: 100%;
	align-self: flex-start;
	padding: 1rem 0;
	border-bottom: 3px solid #fff;
	margin-bottom: 4rem;
}

.filter-rating__title {
	display: inline-block;
	margin: 0;
	font-size: 1.5rem;
	padding: 0 1rem;
}

.filter-rating__select {
	display: inline-block;
	& > select {
		margin: auto 1rem;
		background-color: #d9534f;
		border-radius: 0;
		border: 0 none;
		height: 30px;
		line-height: 30px;
		color: #fff;
		outline: none;
	}
}

@media (min-width: 768px) {
	.filter-rating__title {
		font-size: 1.75rem;
	}
}
